body {
    background-image: linear-gradient(to bottom right, red, yellow);
}

.carouselsection{
    display: flex;
    justify-content: center;
}

.welcome{
    text-align: center;
    margin: 100px;
    padding: 50px;
    border-bottom: 3px dotted;
}

main{
    display: flex;
    justify-content: center;
}

main div{
    display: flex;
    flex-direction: column;
}
main div p{
    text-align: center;
}

main div button {
border-radius: 15px;
  
}

main div button:hover {
    box-shadow: 10px 10px 8px black;
    transition: all 0.2s
}

.info{
    background-color: aliceblue;
}

div h4{
    font-size: 50px;
}
div h5{
    font-size: 30px;
}

.info{
    border: 3px solid black;
    border-radius: 10px;
}



.items{
    border-right: 3px solid black;
    float: left;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.items-2 {
    border: 3px solid black;
    border-radius: 10px;
    position: fixed;
}

/* .infosection{
    height: 1000px;
    overflow-y: scroll;
} */

.highlight{
    background: yellow;
}

.text{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
}

.title{
    font-size: 70px;
    border-bottom: 2px solid black;
}

.box{
    white-space: pre-wrap;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 15px;
    padding: 0px 50px 0px 50px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}